@model Ecommerce.CtrlX.Application.ViewModels.OrdersNewViewModel

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes da compra</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Data e hora da compra
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            Marca produto
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

        <dt>
            Descrição
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>

        </dt>
        @if (Model.Image != null)
        {
            <dd>
                @{
                    var base64 = Convert.ToBase64String(Model.Image);
                    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                }
                <img src='@imgSrc' style="max-width:200px; max-height:200px;" />
            </dd>
        }
        <dt>
            Preço
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            Quantidade
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            Valor Total da compra
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorTotal)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Alterar", "Edit", new { id = Model.OrdersNewId }) |
    @Html.ActionLink("Voltar", "Index")
</p>
