@model Ecommerce.CtrlX.Application.ViewModels.CategoriesViewModel

@{
    ViewBag.Title = "Desativar";
}

<h2>Remover Categoria</h2>

<h3>Tem certeza de que deseja excluir isso?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nome Categoria
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescriptionCategory)
        </dd>

        <dt>
            Data de Cadastro
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataCadastro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ativo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-default" /> |
            @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>
