@model Ecommerce.CtrlX.Application.ViewModels.CategoriesViewModel

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes da categoria</h2>

<div>
    <h4>Categories</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nome Categoria
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescriptionCategory)
        </dd>

        <dt>
            Data de Cadastro
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataCadastro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ativo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.CategoriesId }) |
    @Html.ActionLink("Voltar", "Index")
</p>
