@model Ecommerce.CtrlX.Application.ViewModels.ProductsViewModel

@{
    ViewBag.Title = "Desativar";
}

<h2>Desativar produto</h2>

<h3>Desativar o produto?</h3>
<div>
    <h4>Produtos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Descrição
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            Preço
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            Imagem
        </dt>

        @if (Model.Image != null)
        {
            <dd>
                @{
                    var base64 = Convert.ToBase64String(Model.Image);
                    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                }
                <img src='@imgSrc' style="max-width:200px; max-height:200px;" />
            </dd>
        }

        <dt>
            Observações
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

        <dt>
            Data cadastro
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataCadastro)
        </dd>

        <dt>
            Ativo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ativo)
        </dd>

        <dt>
            Categoria
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameCategory)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Desativar" class="btn btn-default" /> |
            @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>
