@model Ecommerce.CtrlX.Application.ViewModels.ProductsViewModel

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes produto</h2>

<div>
    <h4>ProductsViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Descrição
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            Código do produto
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BarCode)
        </dd>

        <dt>
            Preço
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>*@

        <dt>
            Observações
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

        <dt>
            Data cadastro
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataCadastro)
        </dd>

        <dt>
            Ativo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ativo)
        </dd>

        <dt>
            Categoria
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameCategory)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ProductsId }) |
    @Html.ActionLink("Voltar", "Index")
</p>
