@model Ecommerce.CtrlX.Application.ViewModels.ProductsViewModel

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes produto</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Descrição
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            Preço
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            Imagem
        </dt>

        @if (Model.Image != null)
        {
            <dd>
                @{
                    var base64 = Convert.ToBase64String(Model.Image);
                    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                }
                <img src='@imgSrc' style="max-width:200px; max-height:200px;" />
            </dd>
        }

        <dt>
            Observações
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

        <dt>
            Data cadastro
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataCadastro)
        </dd>

        <dt>
            Ativo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ativo)
        </dd>

        <dt>
            Categoria
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameCategory)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ProductsId }) |
    @Html.ActionLink("Voltar", "Index")
</p>
