@model IEnumerable<Ecommerce.CtrlX.Application.ViewModels.ProductsViewModel>

@{
    ViewBag.Title = "Produtos";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Incluir novo produto", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <label>Categoria</label>
        </th>
        <th>
            <label>Descrição</label>
        </th>
        <th>
            <label>Código do produto</label>
        </th>
        <th>
            <label>Preço</label>
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.Image)
            </th>*@
        <th>
            <label>Observações</label>
        </th>
        <th>
            <label>Data cadastro</label>
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>*@
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        if (item.Ativo != false)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NameCategory)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BarCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Image)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Remarks)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataCadastro)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Ativo)
                    </td>*@
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.ProductsId }) |
                    @Html.ActionLink("Detalhes", "Details", new { id = item.ProductsId }) |
                    @Html.ActionLink("Desativar", "Delete", new { id = item.ProductsId }) |
                    @Html.ActionLink("Comprar", "", new { id = item.ProductsId })
                </td>
            </tr>
        }
    }

</table>
