@using Ecommerce.CtrlX.UI.Site.Helpers
@model IEnumerable<Ecommerce.CtrlX.Application.ViewModels.ProductsViewModel>

@{
    ViewBag.Title = "Produtos";
}

<h2>@ViewBag.Title</h2>

@{ if (this.IfClaim("PermissoesProducts", "PI"))
    {
        <p>
            @Html.ActionLink("Incluir novo produto", "Create")
        </p>
    }
}

<table class="table table-responsive table-hover">
    <tr>
        <th class="text-center">
            <label>Categoria</label>
        </th>
        <th class="text-center">
            <label>Descrição</label>
        </th>
        <th class="text-center">
            <label>Marca</label>
        </th>
        <th class="text-center">
            Imagem
        </th>
        <th class="text-center">
            <label>Preço</label>
        </th>
        @if (this.IfClaim("PermissoesProducts", "PV"))
        {
            <th class="text-center">
                <label>Data cadastro</label>
            </th>
        }
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        if (item.Ativo != false)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NameCategory)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Remarks)
                </td>
                @if (item.Image != null)
                {
                    <td>
                        @{
                            var base64 = Convert.ToBase64String(item.Image);
                            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                        }
                        <img src='@imgSrc' style="max-width:200px; max-height:200px;" />
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                @if (this.IfClaim("PermissoesProducts", "PV"))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.DataCadastro)
                    </td>
                }
                <td>
                    @if (this.IfClaim("PermissoesProducts", "PE"))
                    {
                        <a class="btn btn-info" href="@Url.Action("Edit", "Products", new { id = item.ProductsId })">Editar</a>
                    }
                    <p class="clearfix"></p>
                    @if (this.IfClaim("PermissoesProducts", "PD"))
                    {
                        <a class="btn btn-info" href="@Url.Action("Details", "Products", new { id = item.ProductsId })">Detalhes</a>
                    }
                    <p class="clearfix"></p>
                    @if (this.IfClaim("PermissoesProducts", "PX"))
                    {
                        <a class="btn btn-danger" href="@Url.Action("Delete", "Products", new { id = item.ProductsId })">Desativar</a>
                    }
                    <p class="clearfix"></p>
                    <a class="btn btn-success" href="@Url.Action("Create", "OrdersNew", new { id = item.ProductsId })">Comprar</a>
                </td>
            </tr>
        }
    }

</table>
