@model IEnumerable<Ecommerce.CtrlX.Application.ViewModels.ProductsViewModel>

@{
    ViewBag.Title = "Produtos";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Incluir novo produto", "Create")
</p>
<table class="table table-responsive table-hover">
    <tr>
        <th class="text-center">
            <label>Categoria</label>
        </th>
        <th class="text-center">
            <label>Descrição</label>
        </th>
        <th class="text-center">
            <label>Código do produto</label>
        </th>
        <th class="text-center">
            <label>Preço</label>
        </th>
        <th class="text-center">
            Imagem
        </th>
        <th class="text-center">
            <label>Marca</label>
        </th>
        <th class="text-center">
            <label>Data cadastro</label>
        </th>
        @*<th>
            Ativo
        </th>*@
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        if (item.Ativo != false)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NameCategory)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BarCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                @if (item.Image != null)
                {
                    <td>
                        @{
                            var base64 = Convert.ToBase64String(item.Image);
                            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                        }
                        <img src='@imgSrc' style="max-width:200px; max-height:200px;" />
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.Remarks)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataCadastro)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Ativo)
                </td>*@
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.ProductsId }) 
                    @Html.ActionLink("Detalhes", "Details", new { id = item.ProductsId }) 
                    @Html.ActionLink("Desativar", "Delete", new { id = item.ProductsId }) 
                    <a class="btn btn-primary btn-sm" href="@Url.Action("Create", "OrdersNew", new { id = item.ProductsId })">Comprar</a>
                </td>
            </tr>
        }
    }

</table>
